Repository willcramer/grafana: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-betterer, frontend-eslint, frontend-format, backend-format, fix-cue

lefthook.yml:

pre-commit:
  commands:
    frontend-betterer:
      glob: '*.{ts,tsx}'
      run: yarn betterer precommit

    frontend-eslint:
      glob: '*.{js,ts,tsx}'
      run: yarn eslint --ext .js,.tsx,.ts --cache --fix

    frontend-format:
      glob: '*.{js,ts,tsx,json,scss,md,mdx}'
      run: yarn prettier --write

    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s

    fix-cue:
      glob: '*kinds/**/*.cue'
      run: make fix-cue

h
  .betterer.results
  .husky/pre-commit
  .husky/prepare-commit-msg
  public/app/routes/routes.tsx
  public/app/routes/routesButWorse.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

old husky precommit
  .husky/pre-commit.old
Due: none

lefthook so far
  lefthook.yml
  public/app/routes/routes.tsx
  public/app/routes/routesButWorse.tsx
  scripts/bettererReporter.ts
Due: frontend-betterer, frontend-eslint, frontend-format

CI: Add promotion pipeline for publishing new windows-test-images
  .drone.star
  .drone.yml
  scripts/drone/pipelines/ci_images.star
  scripts/drone/utils/utils.star
Due: none

CI: Ignore windows backend-test failures for now
  .drone.yml
  scripts/drone/steps/lib.star
Due: none

CI: Fix linting issue in ci_images.star file
  scripts/drone/pipelines/ci_images.star
Due: none

add bug fix for multiple nested functions as params
  public/app/plugins/datasource/graphite/graphite_query.ts
Due: frontend-betterer, frontend-eslint, frontend-format

fixup
  pkg/api/search.go
  pkg/services/dashboards/database/database.go
  pkg/services/sqlstore/searchstore/filters.go
Due: backend-format

Update swagger
  public/api-merged.json
  public/openapi3.json
Due: frontend-format

Fix JSON property casing
  pkg/api/search.go
  public/api-merged.json
  public/openapi3.json
Due: frontend-format, backend-format

fix query
  pkg/services/dashboards/database/database.go
  pkg/services/sqlstore/searchstore/filters.go
Due: backend-format

Add integration test
  pkg/services/dashboards/database/database_test.go
Due: backend-format

Remove redundant query condition
  pkg/services/sqlstore/searchstore/filters.go
Due: backend-format

Fix frontend test
  public/app/features/search/service/sql.test.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Remove debug logging
  public/app/features/search/service/sql.ts
Due: frontend-betterer, frontend-eslint, frontend-format

add types for parser
  .betterer.results
  public/app/plugins/datasource/graphite/graphite_query.ts
  public/app/plugins/datasource/graphite/parser.ts
  public/app/plugins/datasource/graphite/specs/parser.test.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Fix listing dashboards in General/root
  public/app/features/search/service/sql.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Derived fields: validate duplicated names
  public/app/plugins/datasource/loki/configuration/DerivedField.tsx
  public/app/plugins/datasource/loki/configuration/DerivedFields.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Derived fields: rename prop
  public/app/plugins/datasource/loki/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/loki/configuration/DerivedFields.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Update tests
  public/app/plugins/datasource/loki/configuration/DerivedField.test.tsx
  public/app/plugins/datasource/loki/configuration/DerivedField.tsx
  public/app/plugins/datasource/loki/configuration/DerivedFields.test.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Derived fields: do not validate empty names as repeated
  public/app/plugins/datasource/loki/configuration/DerivedFields.test.tsx
  public/app/plugins/datasource/loki/configuration/DerivedFields.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Let alert rule service implement registry service
  pkg/services/ngalert/provisioning/alert_rules.go
Due: backend-format

Add count method to RuleStore interface
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/persist.go
  pkg/services/ngalert/tests/fakes/rules.go
Due: backend-format

Try node version from .nvmrc
  .github/workflows/publish-technical-documentation-release.yml
Due: none

wip
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/MetricAggregationsEditor/MetricEditor.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/ModeSelector.tsx
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/index.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Add sync-grafana-mirror step
  .drone.yml
  scripts/drone/pipelines/trigger_downstream.star
  scripts/drone/steps/lib.star
Due: none

Remove leftovers
  .drone.yml
  scripts/drone/steps/lib.star
Due: none

Basic implementation in web worker
  public/app/features/alerting/unified/NotificationPolicies.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/notificationPolicyWorker.ts
Due: frontend-betterer, frontend-eslint, frontend-format

NestedFolders: Add empty states for Browse and Search
  public/app/features/browse-dashboards/components/BrowseView.tsx
  public/app/features/browse-dashboards/components/SearchView.tsx
  public/app/features/browse-dashboards/state/hooks.ts
  public/app/features/browse-dashboards/state/slice.ts
  public/app/features/browse-dashboards/types.ts
Due: frontend-betterer, frontend-eslint, frontend-format

more logs
  pkg/services/live/live.go
  pkg/services/live/pushws/push_pipeline.go
  pkg/services/live/pushws/push_stream.go
Due: backend-format

no read deadline
  pkg/services/live/live.go
  pkg/services/live/pushws/ws.go
Due: backend-format

no read deadline
  pkg/services/live/pushws/ws.go
Due: backend-format

Move instances discovery to the worker
  public/app/features/alerting/unified/NotificationPolicies.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/notificationPolicyWorker.ts
Due: frontend-betterer, frontend-eslint, frontend-format

chore(grafana-ui): begin migration to storybook7
  .yarnrc.yml
  package.json
  packages/grafana-ui/.storybook/main.ts
  packages/grafana-ui/package.json
  yarn.lock
Due: frontend-betterer, frontend-eslint, frontend-format

refactor(storybook): begin cleanup of storybook and addon configs
  packages/grafana-ui/.storybook/main.ts
  packages/grafana-ui/.storybook/preview.ts
  packages/grafana-ui/src/utils/storybook/ThemedDocsContainer.tsx
  packages/grafana-ui/src/utils/storybook/withTheme.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

chore(storybook): rename intro story for storybook 7
  packages/grafana-ui/src/Intro.mdx
Due: frontend-format

chore(stories): silence TS errors for subcomponents in SB7
  packages/grafana-ui/src/components/ColorPicker/ColorPicker.story.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerPopover.story.tsx
  packages/grafana-ui/src/components/ConfirmButton/ConfirmButton.story.tsx
  packages/grafana-ui/src/components/Layout/Layout.story.tsx
  packages/grafana-ui/src/components/Select/Select.story.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

fix(clickoutsidewrapper): window | document can be undefined not null
  packages/grafana-ui/src/components/ClickOutsideWrapper/ClickOutsideWrapper.story.tsx
  packages/grafana-ui/src/components/ClickOutsideWrapper/ClickOutsideWrapper.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

chore(storybook): add storybook/blocks to keep yarn berry happy
  packages/grafana-ui/package.json
  yarn.lock
Due: frontend-format

chore(betterer): update glob to support internal story renaming
  .betterer.ts
Due: frontend-betterer, frontend-eslint, frontend-format
