Repository willcramer/grafana: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-betterer, frontend-eslint, frontend-format, backend-format, fix-cue

frontend-betterer:
  run: yarn betterer precommit

frontend-eslint:
  run: yarn eslint --ext .js,.tsx,.ts --cache --fix

frontend-format:
  run: yarn prettier --write

backend-format:
  run: gofmt -w -s

fix-cue:
  run: make fix-cue

chore(stories): rename internal stories to support SB7 story name mapper
  packages/grafana-ui/src/components/CallToActionCard/CallToActionCard.internal.story.tsx
  packages/grafana-ui/src/components/ClipboardButton/ClipboardButton.internal.story.tsx
  packages/grafana-ui/src/components/Dropdown/ButtonSelect.internal.story.tsx
  packages/grafana-ui/src/components/FormField/FormField.internal.story.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Input/Input.internal.story.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.internal.story.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.internal.story.tsx
  packages/grafana-ui/src/components/Graph/GraphWithLegend.internal.story.tsx
  packages/grafana-ui/src/components/InfoTooltip/InfoTooltip.internal.story.tsx
  packages/grafana-ui/src/components/InfoTooltip/InfoTooltip.story.internal.tsx
  packages/grafana-ui/src/components/InlineToast/InlineToast.internal.story.tsx
  packages/grafana-ui/src/components/List/List.internal.story.tsx
  packages/grafana-ui/src/components/Monaco/CodeEditor.internal.story.tsx
  packages/grafana-ui/src/components/SecretFormField/SecretFormField.internal.story.tsx
  packages/grafana-ui/src/components/Select/SelectPerf.internal.story.tsx
  packages/grafana-ui/src/components/TableInputCSV/TableInputCSV.internal.story.tsx
  packages/grafana-ui/src/utils/useDelayedSwitch.internal.story.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

revert(storybook): put back story globs
  packages/grafana-ui/.storybook/main.ts
Due: frontend-betterer, frontend-eslint, frontend-format

chore(storybook): remove patch for 6.5.16
  .yarn/patches/@storybook-addon-docs-npm-6.5.16-56ecbd77e7.patch
  package.json
Due: frontend-format

docs(storybook): use ArgTypes instead of ArgsTable
  packages/grafana-ui/src/components/Alert/Alert.mdx
Due: frontend-format

feat(storybook): add STORY env var to customise which stories storybook should load
  packages/grafana-ui/.storybook/main.ts
Due: frontend-betterer, frontend-eslint, frontend-format

chore(storybook): bump to 7.0.4
  .yarn/patches/@storybook-blocks-npm-7.0.2-b6dfc799d8.patch
  .yarn/patches/@storybook-blocks-npm-7.0.4-3416a49082.patch
  package.json
  packages/grafana-ui/package.json
  yarn.lock
Due: frontend-format

chore(storybook): patch blocks to expose Preview component for docs
  .yarn/patches/@storybook-blocks-npm-7.0.2-b6dfc799d8.patch
  package.json
  yarn.lock
Due: frontend-format

fix(storybook): set esbuild minify target to fix erroring docs in production builds
  packages/grafana-ui/.storybook/main.ts
Due: frontend-betterer, frontend-eslint, frontend-format

fix(toolbarbuttonrow): fix import path to prevent error in storybook doc
  packages/grafana-ui/src/components/ToolbarButton/ToolbarButtonRow.mdx
Due: frontend-format

docs(storybook): fix up some more stories
  packages/grafana-ui/src/components/Alert/InlineBanner.story.tsx
  packages/grafana-ui/src/components/Badge/Badge.story.tsx
  packages/grafana-ui/src/components/InteractiveTable/InteractiveTable.mdx
  packages/grafana-ui/src/components/TextArea/TextArea.mdx
Due: frontend-betterer, frontend-eslint, frontend-format

chore(storybook): more config updates to match storybook documentation
  packages/grafana-ui/.storybook/main.ts
  packages/grafana-ui/.storybook/manager.ts
  packages/grafana-ui/.storybook/preview.ts
  packages/grafana-ui/package.json
  yarn.lock
Due: frontend-betterer, frontend-eslint, frontend-format

chore(storybook): bump to 7.0.5
  .yarn/patches/@storybook-blocks-npm-7.0.5-95fb06991f.patch
  package.json
  packages/grafana-ui/package.json
  yarn.lock
Due: frontend-format

Fix starlark lint
  scripts/drone/pipelines/trigger_downstream.star
  scripts/drone/steps/lib.star
Due: none

remove Sentry
  .github/renovate.json5
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  go.mod
  go.sum
  package.json
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/package.json
  packages/grafana-runtime/src/config.ts
  packages/grafana-runtime/src/services/EchoSrv.ts
  packages/grafana-runtime/src/utils/logging.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/ErrorBoundary/ErrorBoundary.test.tsx
  packages/grafana-ui/src/components/ErrorBoundary/ErrorBoundary.tsx
  pkg/api/dtos/frontend_settings.go
  pkg/api/dtos/index.go
  pkg/api/frontend_logging.go
  pkg/api/frontend_logging_test.go
  pkg/api/frontendlogging/grafana_javascript_agent.go
  pkg/api/frontendlogging/sentry.go
  pkg/api/frontendlogging/source_maps.go
  pkg/api/frontendsettings.go
  pkg/api/index.go
  pkg/setting/setting.go
  pkg/setting/setting_grafana_javascript_agent.go
  pkg/setting/setting_sentry.go
  public/app/app.ts
  public/app/core/services/echo/EchoSrv.ts
  public/app/core/services/echo/backends/sentry/SentryBackend.test.ts
  public/app/core/services/echo/backends/sentry/SentryBackend.ts
  public/app/core/services/echo/backends/sentry/transports/CustomEndpointTransport.test.ts
  public/app/core/services/echo/backends/sentry/transports/CustomEndpointTransport.ts
  public/app/core/services/echo/backends/sentry/transports/EchoSrvTransport.ts
  public/app/core/services/echo/backends/sentry/types.ts
  public/app/features/alerting/unified/Analytics.ts
  yarn.lock
Due: frontend-betterer, frontend-eslint, frontend-format, backend-format

fix sourcemap resolve
  pkg/api/frontend_logging_test.go
  pkg/api/frontendlogging/grafana_javascript_agent_sourcemaps.go
Due: backend-format

Update docs/sources/setup-grafana/configure-grafana/_index.md
  docs/sources/setup-grafana/configure-grafana/_index.md
Due: frontend-format

Plugins: Pass panel data in plugin extension context
  packages/grafana-data/src/types/pluginExtensions.ts
  public/app/features/dashboard/utils/getPanelMenu.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Show indeterminate checkbox for folders with partially selected children
  public/app/features/browse-dashboards/components/BrowseView.tsx
  public/app/features/browse-dashboards/components/CheckboxCell.tsx
  public/app/features/browse-dashboards/components/CheckboxHeaderCell.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.tsx
  public/app/features/browse-dashboards/state/hooks.ts
  public/app/features/browse-dashboards/types.ts
Due: frontend-betterer, frontend-eslint, frontend-format

reword comment
  public/app/features/browse-dashboards/state/reducers.ts
Due: frontend-betterer, frontend-eslint, frontend-format

fix test
  public/app/features/browse-dashboards/state/reducers.test.ts
Due: frontend-betterer, frontend-eslint, frontend-format

When selecting an item, check ancestors to see if all their children are now selected
  public/app/features/browse-dashboards/components/CheckboxCell.tsx
  public/app/features/browse-dashboards/state/reducers.test.ts
  public/app/features/browse-dashboards/state/reducers.ts
Due: frontend-betterer, frontend-eslint, frontend-format

fix lint
  public/app/features/browse-dashboards/components/DashboardsTree.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Check all descendants for mixed state
  public/app/features/browse-dashboards/components/BrowseView.tsx
  public/app/features/browse-dashboards/components/CheckboxCell.tsx
  public/app/features/browse-dashboards/components/CheckboxHeaderCell.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.tsx
  public/app/features/browse-dashboards/state/slice.ts
  public/app/features/browse-dashboards/types.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Use indeterminate checkbox
  public/app/features/browse-dashboards/BrowseDashboardsPage.test.tsx
  public/app/features/browse-dashboards/components/BrowseView.test.tsx
  public/app/features/browse-dashboards/components/BrowseView.tsx
  public/app/features/browse-dashboards/components/CheckboxCell.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.test.tsx
  public/app/features/browse-dashboards/state/slice.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Remove filtering from the worker
  public/app/features/alerting/unified/NotificationPolicies.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/notificationPolicyWorker.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Update grabpl
  .drone.yml
  scripts/drone/steps/lib.star
Due: none

Update grabpl - add github pr token
  .drone.yml
  scripts/drone/steps/lib.star
Due: none

Add grabpl publish images
  .drone.yml
  scripts/drone/pipelines/build.star
  scripts/drone/steps/lib.star
Due: none

Replace github_pr_token with gh app
  .drone.yml
  scripts/drone/steps/lib.star
  scripts/drone/vault.star
Due: none

Path conditions:
  frontend-betterer: any of: *.{ts,tsx}
  frontend-eslint: any of: *.{js,ts,tsx}
  frontend-format: any of: *.{js,ts,tsx,json,scss,md,mdx}
  backend-format: any of: *pkg/**/*.go
  fix-cue: any of: *kinds/**/*.cue
